@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 169 75% 36%;
    --primary-foreground: 169 75% 96%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 210 40% 9.8%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 149 64% 67%;
    --accent-foreground: 149 64% 9.8%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 169 75% 36%;
    --radius: 0.8rem;
  }

  .dark {
    --background: 169 78% 11%;
    --foreground: 210 40% 98%;
    --card: 169 78% 14%;
    --card-foreground: 210 40% 98%;
    --popover: 169 78% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 169 75% 36%;
    --primary-foreground: 169 75% 96%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 149 64% 67%;
    --accent-foreground: 149 64% 9.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 169 75% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
